* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-gallery {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}

/* Large Images */
.gallery {
    width: 100%;
    height: calc((45vh + 20vw));
    border: 2px solid black;
    position: relative;
    overflow: hidden;
}

.gallery__large {
    width: 100%;
    height: 100%;
}

.gallery__large__image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .7s;
}
.current-img {
    opacity: 1;
}

.gallery__large__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(10px + 1vw);
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding: 2px 8px;
    border-radius: 5px;
}
.current-txt {
    animation: move-text 1s;
}
@keyframes move-text {
    0% {
        transform: translateX(50px);
        opacity: .5;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* Buttons */
.gallery__buttons button {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, .5);
}

.gallery__buttons button.left-btn {
    left: 14px;
}

.gallery__buttons button.right-btn {
    right: 14px;
}

.gallery__buttons i {
    z-index: 2;
    font-size: calc(16px + 2vw);
    cursor: pointer;
    border: 2px solid white;
    background: white;
    border-radius: 50%;
    opacity: .6;
    transition: all .5s;
}
.gallery__buttons i:hover {
    opacity: 1;
}

/* Small Images */
.thumbnails {
    width: 70%;
    margin: 0 auto;
    min-height: 66px;
    overflow: hidden;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
}

.thumbnails__image {
    width: 15%;
    height: calc(44px + 1.2vw);
    opacity: .6;
    transition: all .5s;
}
.thumbnails__image:hover, .current-thumb {
    opacity: 1;
}

.thumbnails__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid black;
}

/* Media Queries */
@media(max-width: 1080px) {
    .thumbnails {
        width: 80%;
        min-height: 57px;
    }
}

@media(max-width: 900px) {
    .thumbnails {
        width: 90%;
        min-height: 48px;
    }
}

@media(max-width: 500px) {
    .thumbnails {
        width: 100%;
    }

    .thumbnails__image {
        width: 27%;
    }
}